body {
  margin: 0;
  background: #f0f0f0;
  font-family: Fuzzy Bubbles;
}

img {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.box {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  background-color: peachpuff;
}

.box__bottom {
  display: flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/box_bottom.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.box__content {
  width: 80%;
  height: 80%;
  background-image: url(../img/chocolate_goat.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box__top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/box_top.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: box-shadow 250ms linear, transform 250ms linear, top 500ms linear 350ms;
  
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.box:hover .box__top,
.box:focus .box__top{
  top: 120%;
  transform: scale(120%);
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  .box {
    min-width: 400px;
    min-height: 400px
  }
}

@media screen and (min-width: 1024px) {
  .box {
    min-width: 600px;
    min-height: 600px;
  }
}
